In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Muniz Freire,BR,2020-08-21 03:06:53,-20.46,-41.41,63.32,94,90,4.45
1,1,Tuktoyaktuk,CA,2020-08-21 03:05:48,69.45,-133.04,55.40,76,90,9.17
2,2,Lebu,CL,2020-08-21 03:05:55,-37.62,-73.65,49.19,84,0,15.57
3,3,Port Alfred,ZA,2020-08-21 03:05:46,-33.59,26.89,56.86,79,79,10.07
4,4,Rikitea,PF,2020-08-21 03:05:43,-23.12,-134.97,66.18,78,100,25.34
...,...,...,...,...,...,...,...,...,...,...
561,561,Plettenberg Bay,ZA,2020-08-21 03:07:42,-34.05,23.37,54.75,81,43,2.84
562,562,Mackay,AU,2020-08-21 03:06:31,-21.15,149.20,79.00,31,0,12.75
563,563,Mastic Beach,US,2020-08-21 03:06:16,40.77,-72.85,66.20,82,1,10.13
564,564,Yarada,IN,2020-08-21 03:07:42,17.65,83.27,82.40,83,75,13.87
565,565,Mnogovershinnyy,RU,2020-08-21 03:07:43,53.94,139.92,62.04,44,2,21.72

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius =4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
figs = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity=300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Cloudiness"]
figs = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity=300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Wind Speed"]
figs = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity=300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [12]:
# Filter the dataset to find the cities that fit into the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Saint Anthony,US,2020-08-21 03:03:09,45.02,-93.22,77.00,69,1,5.82
6,6,Roebourne,AU,2020-08-21 03:06:53,-20.78,117.13,82.98,18,0,14.00
8,8,Dapdap,PH,2020-08-21 03:06:53,12.06,125.49,85.01,70,57,5.37
9,9,Oriximina,BR,2020-08-21 03:06:53,-1.77,-55.87,82.49,49,61,3.96
15,15,Juegang,CN,2020-08-21 03:06:54,32.32,121.19,85.93,74,2,10.25
18,18,Vaini,TO,2020-08-21 03:06:01,-21.20,-175.20,80.60,83,75,4.70
19,19,Kavieng,PG,2020-08-21 03:06:17,-2.57,150.80,84.18,72,24,8.25
26,26,Meulaboh,ID,2020-08-21 03:06:54,4.14,96.13,82.60,77,93,4.43
28,28,Avarua,CK,2020-08-21 03:05:55,-21.21,-159.78,77.00,83,0,20.80
30,30,Itarema,BR,2020-08-21 03:06:40,-2.92,-39.92,76.44,85,23,12.50

In [14]:
preferred_cities_df.count()

City_ID       201
City          201
Country       201
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
5   Saint Anthony      US     77.00  45.02  -93.22
6       Roebourne      AU     82.98 -20.78  117.13
8          Dapdap      PH     85.01  12.06  125.49
9       Oriximina      BR     82.49  -1.77  -55.87
15        Juegang      CN     85.93  32.32  121.19
18          Vaini      TO     80.60 -21.20 -175.20
19        Kavieng      PG     84.18  -2.57  150.80
26       Meulaboh      ID     82.60   4.14   96.13
28         Avarua      CK     77.00 -21.21 -159.78
30        Itarema      BR     76.44  -2.92  -39.92

In [16]:
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: lodging and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Saint Anthony,US,77.00,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
6,Roebourne,AU,82.98,-20.78,117.13,Harding River Caravan Park
8,Dapdap,PH,85.01,12.06,125.49,Oasis Lodge
9,Oriximina,BR,82.49,-1.77,-55.87,Pousada Tia AmÃ©lia
15,Juegang,CN,85.93,32.32,121.19,Rudong Y Hotel
18,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
19,Kavieng,PG,84.18,-2.57,150.80,Nusa Island Retreat
26,Meulaboh,ID,82.60,4.14,96.13,Kost Pria
28,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
30,Itarema,BR,76.44,-2.92,-39.92,Windvillage

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))